.nowrap {
    flex-wrap: nowrap !important;
}

.space-right {
    margin-right: 5px;
}

.inline-button {
    height: 32px
}

hx-text-control[hx-dirty]>input[agent_discovered=true] {
    border: 2px solid #d32f2f;
}