<!-- Accepts an Object to be used as key pair value matching for adding edited, deleted -->
<form [formGroup]="keyValueForm">
<div class="hxRow hxSpan-10 nowrap" formArrayName="keysandvalues"
*ngFor="let field of keyValueForm.get('keysandvalues')['controls']; let i = index;">
<ng-container [formGroupName]="i">
<div class="hxCol hxSpan-6">
<hx-text-control [attr.hx-dirty]="getGroupControl(i, 'key').dirty" [attr.hx-touched]="getGroupControl(i, 'key').touched">
    <input id="txtKey" list="list-keys" placeholder="key" [required]="(keyValueForm.controls.keysandvalues.controls[i].errors?.keyRequired ||
    getGroupControl(i, 'key').hasError('required')) && getGroupControl(i, 'key').touched" [attr.agent_discovered]="getGroupControl(i, 'key').hasError('disallow') && getGroupControl(i, 'key').touched"
    formControlName="key" type="text" />
</hx-text-control>
<datalist id="list-keys">
    <option *ngFor="let key of listOfKeys" [value]="key" >
        {{key}}
    </option>
</datalist>
<span *ngIf="getGroupControl(i, 'key').hasError('disallow') && getGroupControl(i, 'key').touched" class="required">'agent_' is a reserved phrase</span>
</div>
<div class="hxCol hxSpan-6">
    <hx-text-control [attr.hx-dirty]="getGroupControl(i, 'value').dirty" [attr.hx-touched]="getGroupControl(i, 'value').touched">
        <input id="txtValue" list="list-values" placeholder="value" [required]="(keyValueForm.controls.keysandvalues.controls[i].errors?.valRequired ||
        getGroupControl(i, 'value').hasError('required')) && getGroupControl(i, 'value').touched" formControlName="value" type="text" />
    </hx-text-control>
    <datalist id="list-values">
        <option *ngFor="let value of listOfValues" [value]="value" >
            {{value}}
        </option>
    </datalist>
</div>
<button class="hxBtn space-right inline-button" *ngIf="(i != 0 && totalItems() > 1) || (i === 0 && totalItems() > 1)" (click)="removeRow(i)">
    <hx-icon type="minus"></hx-icon>
</button>
<button class="hxBtn inline-button" *ngIf="(i+1) === totalItems()" (click)="addRow()">
    <hx-icon type="plus"></hx-icon>
</button>
<br/>
</ng-container>
</div>
</form>
