<div class="hxRow">
  <div class="hxCol hxSpan-12">
        <button *ngFor="let sensor of systems"
        [className]="sensor === system ? 'hxBtn selected': 'hxBtn'"
        (click)="selectSystem(sensor)">
          {{sensor}}
        </button>
  </div>
</div>

<div class="hxRow" *ngIf="systems.length > 0">
  <div class="hxCol hxSpan-12">
    <hx-radio-set>
        <hx-radio-control *ngFor="let m of filteredMeasurements; index as i">
          <input type="radio" id="rd{{m.name}}{{i + 1}}" name="radioSet"
          value="measurement" [checked]="m.name == measurement" (change)="selectMeasurement(m)"/>
          <label for="rd{{m.name}}{{i + 1}}">
            <hx-radio></hx-radio>
            {{m.name | measurementName}}
          </label>
        </hx-radio-control>
    </hx-radio-set>
  </div>
</div>

<div class="hxRow">
  <div class="hxCol hxSpan-12">
    <hx-text-control>
    <input list="list-devices" type="text" [(ngModel)]="device" id="selDevice" name="selDevice"
    (change)="selectDevice($event)" />
    <label for="selDevice">Choose a Resource:</label>
  </hx-text-control>
  <datalist id="list-devices">
      <option *ngFor="let device of selectedDevices" [value]="device.device" >
        {{device.deviceLabel | deviceName}}
      </option>
    </datalist>
  </div>
</div>