<div class="hxRow">
  <div class="hxCol hxSpan-12">
        <button *ngFor="let sensor of systems"
        [className]="sensor === system ? 'hxBtn selected': 'hxBtn'"
        (click)="selectSystem(sensor)">
          {{sensor}}
        </button>
  </div>
</div>
<div class="hxRow" *ngIf="systems.length > 0">
  <div class="hxCol hxSpan-12">
    <hx-select-control>
      <select [ngModel]="measurement" (change)="selectMeasurement($event)"
        id="selMeasurement">
        <option *ngFor="let measurement of filteredMeasurements"
        [value]="measurement.name">
          {{measurement.name | measurementName}}
        </option>
      </select>
      <hx-select></hx-select>
      <label
        for="selDemo">
        Choose a measurement
      </label>
    </hx-select-control>
  </div>
</div>

<div class="hxRow">
  <div class="hxCol hxSpan-12">
    <hx-select-control>
      <select [ngModel]="device" (change)="selectDevice($event)" id="selDevice">
        <option *ngFor="let device of selectedDevices" [value]="device.device">
          {{device.deviceLabel | deviceName}}
        </option>
      </select>
      <hx-select></hx-select>
      <label for="selDevice">
        Choose a device
      </label>
    </hx-select-control>
  </div>
</div>