<div class="hxRow">
  <div class="hxCol">
    <hx-search
        [placeholder]="searchPlaceholderText">
    </hx-search>
  </div>
  <div class="hxCol resource-header hxOffset-1">
<button class="hxBtn" [disabled]="selectedResources.length === 0">
  Delete
</button>

<button class="hxBtn" [disabled]="selectedResources.length === 0">
  Create Multiple Monitors
</button>

<button class="hxBtn" [disabled]="selectedResources.length === 0">
  Create Suppression
</button>

<button class="hxBtn hxPrimary">
  Add Resource
</button>
  </div>
</div>
<table class="hxTable">
  <thead>
    <tr>
      <th class="hxControl">
          <hx-checkbox id="chkColumn" (change)="checkColumn($event)"></hx-checkbox>
      </th>
      <th>RESOURCE NAME</th>
      <th>CRITICAL</th>
      <th>WARNING</th>
      <th>OK</th>
      <th>DISABLED</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td class="hxControl">
          <hx-checkbox id="chk{{resource.id}}" (change)="selectResource(resource)"
            [checked]="resource.checked"></hx-checkbox>
      </td>
      <td><a [routerLink]="['/resources', resource.id]">{{resource.resourceId}}</a></td>
      <td>--</td>
      <td>3</td>
      <td>8</td>
      <td>--</td>
      <td>Visualize</td>
    </tr>
  </tbody>
</table>
<div class="hxRow resource-paging">
  <div class="hxCol">
<!--page -->
<app-pagination *ngIf="total > defaultAmount"
[total]="total"
[page]="page"
[perPage]="defaultAmount"
[pagesToShow]="5"
(goPrev)="prevPage()"
(goNext)="nextPage()"
(goPage)="goToPage($event)">
</app-pagination>

</div>
</div>
