<div class="hxCol hxSpan-12-xs hxSpan-12-sm hxSpan-6-md hxSpan-4-xl">
  <div class="media icon-media">
    <div class="media__icon">
      <hx-icon type="user" hx-defined=""></hx-icon>
    </div>
    <div class="media__body">
      <h3 class="hxHeading-4">Admin Details page....</h3>
      <p>
        <!----> <span><small class="hxSubdued">Added: v0.1.10</small></span></p>
      <p class="hxSubBody hxSubdued">
        <!-- <hx-icon type="tag" hx-defined="">

        </hx-icon> <span><span>   Admin Name: {{prtDataSrvc.portalData.username}}<br>
            Domain ID: {{prtDataSrvc.portalData.domainId}}
        </span></span><span><span></span></span> -->
      </p>
    </div>
  </div>
</div>
