  <div class="hxPagination hxBtnGroup" *ngIf="total > perPage">
    <button class="hxBtn firstPage" (click)="onPage(0)" [disabled]="page === 0">
      <hx-icon type="angle-start"></hx-icon>
    </button>
    <button class="hxBtn prevPage" (click)="onPrev()" [disabled]="page === 0">
      <hx-icon type="angle-left"></hx-icon>
    </button>
    <button class="hxBtn" *ngFor="let pageNum of getPages(); index as i" (click)="onPage(pageNum - 1)"
    [attr.aria-current]="(page) === i">{{ pageNum }}</button>
    <button class="hxBtn nextPage" (click)="onNext(true)" [disabled]="lastPage()">
      <hx-icon type="angle-right"></hx-icon>
    </button>
    <button class="hxBtn lastPage" (click)="onPage(totalPages() - 1)" [disabled]="lastPage()">
      <hx-icon type="angle-end"></hx-icon>
    </button>
  </div>
