<div class="hxRow">
  <div class="hxCol">
      <hx-search-control>
          <input
            id="txtSearch"
            type="search"
            [placeholder]="searchPlaceholderText"
          />
          <button
            type="button"
            class="hxClear"
            aria-label="Clear search"
            hidden>
            <hx-icon type="times"></hx-icon>
          </button>
          <hx-search></hx-search>
        </hx-search-control>
  </div>

<div class="hxCol monitors-header">
<button class="hxBtn hxPrimary">
  Create Multiple Monitors
</button>

<button class="hxBtn" [disabled]="selectedMonitors.length === 0">
  Create Suppression
</button>

<button class="hxBtn" [disabled]="selectedMonitors.length === 0">
  Copy Monitor
</button>
</div>
</div>
<table class="hxTable">
  <thead>
    <tr>
      <th class="hxControl">
          <hx-checkbox-control>
              <input
                type="checkbox"
                id="chkColumn"
                (change)="checkColumn($event)"
              />
              <label for="chkColumn">
                <hx-checkbox></hx-checkbox>
              </label>
            </hx-checkbox-control>
      </th>
      <th>MONITOR</th>
      <th>ALARM STATUS</th>
      <th>LABELS</th>
      <th>DETAILS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let monitor of monitors">
      <td class="hxControl">
          <hx-checkbox-control>
              <input
                type="checkbox"
                id="monitor-{{monitor.id}}"
                (change)="selectMonitors(monitor)"
                [checked]="monitor.checked"
              />
              <label for="monitor-{{monitor.id}}">
                <hx-checkbox></hx-checkbox>
              </label>
            </hx-checkbox-control>
      </td>
      <td><a [routerLink]="['/monitors', monitor.id]">{{monitor.name}}</a></td>
      <td>--</td>
      <td><hx-status *ngFor="let label of Object.keys(monitor.labelSelector)">
        {{monitor.labelSelector[label]}}</hx-status></td>
      <td>{{monitor.details.type}}</td>
    </tr>
  </tbody>
</table>
<div class="hxRow monitor-paging">
  <div class="hxCol">
<app-pagination
  [total]="total"
  [page]="page"
  [perPage]="defaultAmount"
  [pagesToShow]="5"
  (goPrev)="prevPage()"
  (goNext)="nextPage()"
  (goPage)="goToPage($event)">
</app-pagination>
</div>
</div>
