.hxRow.monitor-header {
    padding-bottom: 20px;
}

.hxRow.last-item {
    margin-bottom:40px;
}

.cog-menu-div {
    padding-top:10px
}

hx-busy.popover-busy {
    margin-right: 5px;
}

.nodisplaClick {
    display:none;
}