/* Global styles */
a.editclick {
    cursor: pointer;
}

.required {
    color: #d32f2f;
}
hx-busy.gbl-spinner-show {
    position: absolute !important;
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transform-origin: unset;
}
.spinner-overlay {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.4;
    z-index: 1000;
}
hx-busy.gbl-spinner-hide {
    display: none;
}
.bg-blurr {
    filter: blur(13px);
}
