<div class="hxRow">
        <div class="hxCol">
<h2>Resources</h2>
<p>This section contains all of the resources being monitored, including all of your Rackspace
    managed servers. While non-Rackspace products can be monitored, Rackspace technical support may
    be limited. <a href="https://support.rackspace.com/how-to/monitoring-differences-between-rackspace-server-users-and-non-rackspace-server-users/"
    target="_blank">Learn More</a>
</p>
</div>
</div><br/><br/>
<app-resourceslist></app-resourceslist>
