
.tabelop{
    opacity: 0.3;
}
.spinner-show {
    margin-left: 24rem;
    margin-top: 12rem;
    position: absolute;
}
.spinner-dis{
    display:none;
}
pre.rsc-position {
    position: relative !important;
}
#resctble{
    border: 2px solid #e0e0e0;;
}
.header{
    width: 15rem;
}
.EnvHeader{
    width: 30rem;
}