<hx-busy [ngClass]="isLoading?'spinner-show':'spinner-dis'">
</hx-busy>
      <table id="resctble" class="hxTable" [ngClass]="isLoading?'tabelop':''">
      <thead>
        <tr>
          <th class="header">RESOURCE</th>
          <th class="header">ZONE NAME</th>
          <th class="EnvHeader"> ENVOY ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources">
          <td>{{resource.resourceId}}</td> 
          <td>{{resource.zoneName}}</td>
          <td>{{resource.envoyId}}</td>
        </tr>
      </tbody>
    </table>
    <div class="hxRow resource-paging">
      <div class="hxCol">
        <app-pagination
          [total]="total"
          [page]="page"
          [perPage]="perPageElements"
          [pagesToShow]="5"
          (goPrev)="prevPage()"
          (goNext)="nextPage()"
          (goPage)="goToPage($event)">
        </app-pagination>
      </div>
    </div>



  