<ng-template #content>
<div class="hxCol hxSpan-6">
<hx-select-control [formGroup]="group" [attr.hx-dirty]="group.get(config.name).hasError('required') && (group.get(config.name).dirty || group.get(config.name).touched)">
  <select [formControlName]="config.name" [required]="group.get(config.name).hasError('required') && (group.get(config.name).dirty || group.get(config.name).touched)">
    <option value="">Select an option</option>
    <option *ngFor="let item of config.options" [ngValue]="item">{{item}}</option>
  </select>
  <hx-select></hx-select>
  <label *ngIf="config.label">
    {{config.label}}
  </label>
</hx-select-control>
</div>
</ng-template>