<form id="updateAdditionalSettings" [formGroup]="updateSettingForm">
  <div class="hxRow hxSpan-12">
  <div class="hxCol hxSpan-3 numberCtrl">
    <h4>Period</h4>
    <hx-text-control>
      <input id="txtInterval" formControlName="interval" type="number" />
    </hx-text-control>
  </div>
  <div class="hxCol hxSpan-9" style="padding-left: 25px;">
    <h4>Excluded Resources</h4>
    <div formArrayName="excludedResourceIds"
    *ngFor="let field of (updateSettingForm.get('excludedResourceIds')['controls'] || {}); let i = index;">
    <ng-container [formGroupName]="i">
        <hx-select-control class="excluded-resources">
          <select formControlName="resource" [attr.disabled]="updateSettingForm.value.resourceId ? '' : null">
            <option value="">Select a Resource</option>
             <option *ngFor="let resource of resources$ | async"
            [value]="resource.resourceId">{{resource.resourceId}}</option>
          </select>
          <hx-select></hx-select>
        </hx-select-control>
    </ng-container>
      <div class="buttonRow">
        <button class="hxBtn space-right inline-button" *ngIf="(i != 0 && totalItems() > 1) || (i === 0 && totalItems() > 1)"
          (click)="deleteExcludedResource(i)" [attr.disabled]="updateSettingForm.value.resourceId ? '' : null">
          <hx-icon type="minus"></hx-icon>
        </button>
        <button class="hxBtn inline-button" *ngIf="(i+1) === totalItems()" (click)="addExcludedResource()"
        [attr.disabled]="updateSettingForm.value.resourceId ? '' : null">
          <hx-icon type="plus"></hx-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="hxCol hxSpan-6">
    <h4>Resource ID</h4>
    <hx-select-control>
      <select formControlName="resourceId" (change)="resourceIdEmit.emit(updateSettingForm.value.resourceId)">
        <option value="">Select a Resource</option>
        <option *ngFor="let resource of resources$ | async"
        [value]="resource.resourceId">{{resource.resourceId}}</option>
      </select>
      <hx-select></hx-select>
    </hx-select-control>
  </div>
  <div class="hxCol hxSpan-6">
    <h4>Label Selector Method</h4>
    <hx-select-control>
      <select formControlName="labelSelectorMethod">
        <option value="">Select an option</option>
        <option value="AND" [selected]="initialData?.labelSelectorMethod == 'AND'">AND</option>
        <option value="OR" [selected]="initialData?.labelSelectorMethod == 'OR'">OR</option>
      </select>
      <hx-select></hx-select>
    </hx-select-control>
  </div>
</div>
</form>