.hxRow.resource-header {
    padding-bottom: 20px;
}

.hxRow.last-item {
    margin-bottom: 40px;
}

.cog-menu-div {
    padding-top: 10px;
}

h4.inline-icon {
    display: inline-block;
    padding-right: 5px;
}

hx-busy.popover-busy {
    margin-right: 5px;
}
